.container {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center center;
}

.row {
    display: block;
}

button {
    width: 25%;
    height: 50px;
}

.window {
    padding: 10px;
    height: 30px;
}