.container {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center center;
}

.row {
    display: block;
}

button {
    width: 33.3333%;
    height: 50px;
}

.window {
    height: 40px;
}